html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;	
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	/*color: #545454;*/
	color: #000;
}

#list2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;	
}

#pager2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;	
}



h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

h2 {
	padding: 0px 0px 20px 0px;
	font-size: 1.50em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

strong {
	color: #2C2C2C;
}

a {
	color: #256094;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	border:none;
	border-top:2px solid #CCCCCC;
	height:2px;
	margin-bottom:25px;
	width:80%;
}
/** WRAPPER */

#wrapper {
	overflow: hidden;
	width: 1000px;
	margin: 50px auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
}

.container {
	width: 1000px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
	overflow: hidden;
	height: 150px;
	background: #256094;	
}

/* Logo */

#logo
{
	float: left;
	width: 250px;
	padding: 10px 0px 0px 20px;
	text-transform: uppercase;
}

#logo h1
{
	padding: 5px 10px 0px 0px;
}

#logo h1 a
{
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 300;
	color: #FFFFFF;
}

#logo p
{
	display: block;
	margin-top: -10px;
	padding: 0px 0px 0px 0px;
	letter-spacing: 1px;
	font-size: 1.2em;
	color: #FFFFFF;
}

#logo p a
{
	color: #FFFFFF;
}

#user {
	float: right;
	padding-top: 10px;
	color:#FFFFFF;
	width: 300px;
}

#user a {
	color:#FFFFFF;
}



/** PAGE */

#page {
	overflow: hidden;
	width: 900px;
	margin: 0px 50px;
	padding: 0px 0px;
	border-bottom: 1px solid #DEDEDE;
}

#page h2 {
}

/** CONTENT */

#content {
	float: left;
	width: 900px;
	/*height: 500px;*/
}

/** SIDEBAR */

#sidebar {
	float: left;
	width: 300px;
}

/* Footer */

#footer {
	overflow: hidden;
	margin: 0px 50px;
	padding: 30px 0px;
	border-top: 8px solid #256094;
}

#footer p {
	text-align: center;
	font-size: 12px;
}

#footer a {
	color: #545454;
}

/* Three Column */

#three-column {
	overflow: hidden;
	margin: 0px 50px;
	padding: 50px 0px;
}

#three-column #tbox1 {
	float: left;
	width: 300px;
	margin-right: 50px;
}

#three-column #tbox2 {
	float: left;
	width: 400px;
}

#three-column #tbox3 {
	float: right;
	width: 300px;
}

/* List Style 1 */

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding: 10px 0px 15px 0px;
	border-top: 1px solid #DEDEDE;
}

ul.style1 a {
	text-decoration: none;
	color: #545454;
}

ul.style1 a:hover {
	text-decoration: underline;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
}


/* List style 2 */

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding: 25px 0px 15px 0px;
	border-top: 1px solid #DEDEDE;
}

ul.style2 .first {
	padding-top: 0px;
	border-top: none;
}

ul.style2 h3 {
	padding: 0px 0px 10px 0px;
}

ul.style2 h3 a {
	text-transform: none;
	color: #373737;
}

ul.style2 a {
	text-decoration: none;
	color: #919191;
}

ul.style2 a:hover {
	text-decoration: underline;
}

/*MENU*/


/* Root = Horizontal, Secondary = Vertical */
ul#navmenu {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 900px; /*For KHTML*/
	list-style: none;
	height: 24px;
	background: #EEE;
	}

ul#navmenu li {	
	margin: 0;
	border: 0 none;
	padding: 0;
	float: left; /*For Gecko*/
	display: inline;
	list-style: none;	
	position: relative;
	height: 24px;
	width: auto;
	}

ul#navmenu ul {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 160px;
	list-style: none;
	display: none;
	position: absolute;
	top: 24px;
	left: 0;
	}

ul#navmenu ul:after /*From IE 7 lack of compliance*/{
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
	}

ul#navmenu ul li {
	width: 160px;
	float: left; /*For IE 7 lack of compliance*/
	display: block !important;
	display: inline; /*For IE*/
	}

/* Root Menu */
ul#navmenu a {
	border: 1px solid #FFF;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	padding: 0 6px;
	float: none !important; /*For Opera*/
	float: left; /*For IE*/
	display: block;
	background: #EEE;
	color: #000;
	font: bold 12px/22px Trebuchet MS, Arial, Helvetica, sans-serif;
	text-decoration: none;
	height: auto !important;
	height: 1%; /*For IE*/
	}

/* Root Menu Hover Persistence */
ul#navmenu a:hover,
ul#navmenu li:hover a,
ul#navmenu li.iehover a {
	background: #CCC; 
	color: #FFF;
	}

/* 2nd Menu */
ul#navmenu li:hover li a,
ul#navmenu li.iehover li a {
	float: none;
	background: #EEE;
	color: #000;
	}

/* 2nd Menu Hover Persistence */
ul#navmenu li:hover li a:hover,
ul#navmenu li:hover li:hover a,
ul#navmenu li.iehover li a:hover,
ul#navmenu li.iehover li.iehover a {
	background: #CCC;
	color: #FFF;
	}

/* 3rd Menu */
ul#navmenu li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li a {
	background: #EEE; 
	color: #666;
	}

/* 3rd Menu Hover Persistence */
ul#navmenu li:hover li:hover li a:hover,
ul#navmenu li:hover li:hover li:hover a,
ul#navmenu li.iehover li.iehover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover a {
	background: #CCC;
	color: #FFF;
	}

/* 4th Menu */
ul#navmenu li:hover li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li.iehover li a {
	background: #EEE;
	color: #666;
	}

/* 4th Menu Hover */
ul#navmenu li:hover li:hover li:hover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover li a:hover {
	background: #CCC;
	color: #FFF;
	}

ul#navmenu ul ul,
ul#navmenu ul ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 160px;
	}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#navmenu li:hover ul ul,
ul#navmenu li:hover ul ul ul,
ul#navmenu li.iehover ul ul,
ul#navmenu li.iehover ul ul ul {
	display: none;
	}

ul#navmenu li:hover ul,
ul#navmenu ul li:hover ul,
ul#navmenu ul ul li:hover ul,
ul#navmenu li.iehover ul,
ul#navmenu ul li.iehover ul,
ul#navmenu ul ul li.iehover ul {
	display: block;
	}

	
.Letra_10 { font-size: 10px; }
.Letra_12 { font-size: 12px; }
.Letra_13 { font-size: 13px; }
.Letra_14_Negrita { font-size: 14px; font-weight: bold; }
.Letra_16_Negrita { font-size: 16px; font-weight: bold; }
.Asterisco { font-size: 12px; font-weight: bold; color: #FF0000; }
#Contenido
{
	min-height: 500px;
	height: auto;	
}

.header_01 hr
{
	border: 0; 
	height: 0; 
	box-shadow: 0 1px 5px 1px #111d28;
	width: 100%;
}

/************CSS Tablas Nancy***************/
table.cuej {
	color: #555;
	font: 12px "Trebuchet MS",Verdana,sans-serif;
	border-collapse: collapse
}
table.cuej, caption.cuej {
	margin: 0 auto;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC
}

caption.cuej,th.cuej,td.cuej {
	border-left: 0;
	padding: 2px
}

td.cuej_actas {
	border-bottom: 1px solid #CCC;
	padding: 2px
}

caption,table.cuej thead th.cuej,tfoot th.cuej,tfoot td.cuej{
	background-color: #19446a;
	color: #FFF;	
	font-weight: bold;
	text-transform: uppercase
}

table.cuej thead th.cuej{
	/*background-color: #CEE3F6;
	color: #000;*/
	background-color: #19446a;	
	color: #FFF;
	text-align: center;
	border-bottom:#000000;
}

tbody th.cuej {
	color: #000;
	text-align:center;	
	/*padding: 5px 10px;*/
}

tbody tr.odd {
	background-color: #F7F7F7;
	color: #666
}

.cuej tbody a {
	padding: 1px 2px;
	color: #333;
	text-decoration: none;
	border-bottom: 1px dotted #19446a
}

tbody a:active,tbody a:hover,tbody a:focus,tbody a:visited {
	color: #666
}

.cuej tbody tr:hover {
	background-color: #EEE;
	color: #333
}

.cuej tbody td a {
	color:#0066CC;
	font-weight: bold;
	border-bottom: 1px dotted #19446a
}

/**********************/

label{	
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-align:right;
	width:auto;	
}

.dato{
	color:#000;
	font-size:13px;
	font-weight:bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.campo{
	font-size:12px;
	border:solid 2px #ccc;
	height: 25px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding-left: 10px;	
}

.button {        
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover {
    background-color: #ddd;        
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
}

.button:active {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.button:focus {
    outline: 0;
    background: #fafafa;
}  

button.button, 
input.button { 
    cursor: pointer;
    overflow: visible; /* removes extra side spacing in IE */
}

/* The disabled styles */
.button[disabled], 
.button[disabled]:hover, 
.button.disabled, 
.button.disabled:hover {
    background: #eee;
    color: #aaa;
    border-color: #aaa;
    cursor: default;
    text-shadow: none;
    position: static;
    box-shadow: none;       
}  

.button:before {
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;        
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    border-radius: .15em 0 0 .15em;
    pointer-events: none;        
}

input {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;	
}

select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
}

input:focus {
	background-color:#EFEFEF;	
}